<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavCtrl as nav">
    <div class="container">
        <div style="float: left;"><img src="img/logo.png" height="50" width="50"></div>
        <button ng-click="nav.changeLocation('customers')" type="button" class="btn btn-default navbar-btn">Customers
        </button>
        <button ng-click="nav.changeLocation('contact')" type="button" class="btn btn-default navbar-btn">Contact</button>
        <button ng-click="nav.logout()" type="button" class="btn btn-default navbar-btn pull-right">Logout</button>
    </div>
</nav>
<!--<ul class="menu">-->
<!--<li><a href="#/view1">view1</a></li>-->
<!--<li><a href="#/view2">view2</a></li>-->
<!--</ul>-->

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container main-content" ng-view></div>

<!--<div>Angular seed app: v<span app-version></span></div>-->

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="app.js"></script>
<script src="core/core.module.js"></script>
<script src="login/login.module.js"></script>
<script src="login/login.route.js"></script>
<script src="login/login.ctrl.js"></script>
<script src="nav/nav.module.js"></script>
<script src="nav/nav.ctrl.js"></script>
<script src="customers/customers.module.js"></script>
<script src="customers/customers.ctrl.js"></script>
<script src="customers/customers.route.js"></script>
<script src="customers/customerinfo.ctrl.js"></script>
<script src="customers/customerinfo.route.js"></script>
<script src="customers/customer.resource.js"></script>
<script src="contact/contact.module.js"></script>
<script src="contact/contact.ctrl.js"></script>
<script src="contact/contact.route.js"></script>
</body>
</html>
